
/*  login.html  */

.input {
    background: #cdcdcd;
    border: rgb(129, 129, 129) 1px solid;
    margin-bottom: 15px;
    border-radius: 2em;
    height: 44px;
    width: 200px;
    padding: 0 33px;
}
    body{
        background-color: #0054ff;

    }
    .login {
    position: absolute;
    background-color: white;
    margin: 2px auto;
    width: 420px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    box-shadow: 1px 1px 2px 2px #353333;
    padding: 70px 0;
    border-radius: 2em;
}
.login h1{
    text-align: center;
    margin-bottom: 30px;
}
.connect {
    text-align: center;
    font-size: 18px;
    background: #0054ff;
    color: white;
    margin: 0;
    width: 270px;
}
    .login-form {
    width: 120px;
    padding: 0 70px;
}
.i{position: relative;
    top: 33px;
    left: 15px;
    color: #0054ff;
}
#show-hide,#show-hide1{
    position: relative;
    bottom: 44px;
    left: 240px;
    color: rgb(59, 59, 59);
}
.h{
    position: relative;
    top: 32px;
    right: 5px;
    color: #0054ff;
}
.login-form h3 {
    font-size: 12px;
    white-space: nowrap;
    margin-left: 50px;
}

.faild{
    color: red;
    margin: 0;
    text-align: center;
    font-size: 20px;
}

