
*{
    font-family: sans-serif;
}
body{
    color: white;
}
/*  join.html    */
#container{ 
   text-shadow:  0 0 5px black;
   color: white;
   
}
select{color:white}
#content{
    padding-top: 70px;
}
#container h1{
    font-size: 50px;
    padding: 50px 0 0 0;
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2b4560;
    color: white;
    border-bottom: 2px solid;
}
button{color: white;}
ul{
    display: flex;
}
#button{
    float: right;
width: 100px;
height: 30px;
border: none;
border-radius: 1.5em;
border: 1px solid;
background-color: #122337;
}
button{
    cursor: pointer;
}
li{
    margin: 20px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
li:hover{
    color: teal;
}

#container{
text-align: center;
background: url("mafia.jpg") no-repeat;   
background-size: cover;
background-attachment:fixed;
height: 800px;
color: white;
margin: 0;
}
#choose1{display: grid;
    font-weight: bold;
    font-size:25px;
}
#choose1 h1{
    font-size: 25px;
}
#choose{
    margin-top: 20px;
    display: flex;
align-items: center;
justify-content: center;
font-size: 25px;
}
#choose h2 {
margin: 20px;
border-bottom: 2px solid;
padding-bottom: 10px;
cursor: pointer;
text-shadow: 1px 1px 1px black;
}
.checked{
    color:blue;
    border-color: blue;
}

.rooms{
width: 400px;
height: 40px;
border: none;
border-radius: 2em;
margin: 3px;
color: white;
background: #001aff;
}
#rooms{
display: grid;
overflow: auto;
height: 200px;
width: max-content;
margin: auto;
}
select{
background-color: teal;
width: 60px;
font-size: 16px;
border: none;
height: 22px;
color: white;
}
#next{
color: white;
background: #000039;
border: none;
width: max-content;
height: max-content;
border-radius: 2em;
font-weight: bold;
font-size: 17px;
padding: 10px;
margin-top: 20px;
}
.create{
    background: #cdcdcd;
border: rgb(129, 129, 129) 1px solid;
margin-bottom: 15px;
border-radius: 2em;
height: 44px;
width: 200px;
padding: 0 33px;
font-size: 20px;
color: black;
}
footer{
    background-color: black;
    height: 210px;
    text-align: center;
    border-top:2px solid;
}
#border{
    width: 800px;
    height: 2px;
    background-color: cyan;
    margin:auto;
}
footer h2{
    margin:10px ;
}
footer  .fa{
    color:cadetblue;
    font-size: 2em;
    border-radius:100%;
    margin:0 20px  20px  0;
}
.nav-footer{
    display: flex;
    align-items: center;
justify-content: center;
margin-top: 30px;
}

/*welcome.html*/
body{
    min-width: 900px;
}
#chat {
float: right;
background-color: rgb(46, 46, 46);
width: 400px;
min-width: 400px;
}
.time{font-size: 11px;
float: right;}
.username{
    color: red;
font-weight: bold;
}
#all-content{
    min-width: 600px;
}
.upd h1{
margin: 5px;
}
.message{
font-size: 15px;
}
.part h1{
margin: 0 15px;
font-size: 25px;
color: red;
}

.up h2 {
background-color: #3c617f;
margin: 4px;
font-size: 15px;
padding: 6px 12px;
border-radius: 1em;
width: max-content;
word-break: break-all;
max-width: -webkit-fill-available;
}
#update-msg,#mafia-msg{
height: 495px;
position: relative;
display: flex;
flex-direction: column-reverse;
overflow: auto;
}
#msg-box {
height: 35px;
width: 300px;
border-radius: 1em;
margin: 10px;
border: none;
padding: 0 15px;
color: black;
font-size: 16px;
}
#send {
border: none;
border-radius: 100%;
width: 35px;
height: 35px;
font-size: 20px;
color: white;
cursor: pointer;
background-color: #607D8B;
transition: linear 1s;
}
#send:hover{
    background-color: teal;
}
.upd {
background: rgba(74, 74, 74, 0.8);
margin: 5px auto;
max-width: 600px;
border-radius: 1em;
height: max-content;
padding: 5px;
}
#parts{
margin: 0 auto;
width: 80%;
border-radius: 1em;
max-width: 600px;
height: 300px;
display: flex;
flex-direction: column-reverse;
}
.part{
background-color: rgba(255, 255, 255, 0.5);
text-align: left;
padding: 10px;
margin: 2px;
border-radius: 0.5em;

}
::-webkit-scrollbar-thumb {
background: #888888; 
}
::-webkit-scrollbar {
width: 10px;
}

.players-choice {
width: max-content;
border: none;
height: 35px;
border-radius: 2em;
padding: 0 25px;
background-color: brown;
color: wheat;
font-size: 15px;
margin: 5px;
font-weight: bold;
}
#game-side{
    text-align:center;
    overflow:hidden;
    background: url(game-night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border-right: 5px solid rgb(180, 244, 3);
    height: max-content;
    color: #ffffff;
    transition: linear 3s;
}

#chrono{height: 120px;}
#part-updates{height: 340px;}
#play{height: 180px;}

#chrono h2{
    
background: black;
padding: 10px;
margin-bottom: 10px;
margin: auto;
width: fit-content;
font-family: monospace;
font-size: 40px;
border: 1px solid;
}
#informations{
padding-left: 10px;
border-bottom: 3px solid  #2065a5;
background-color: black;
overflow: hidden;
}
#informations h1{
color:#ffc107;
margin:18px ;
font-size: 24px;
}
.msg-div{
    background: white;
    max-width: 350px;
    word-break: break-all;
    padding: 8px  12px;
    font-size: 18px;
    border-radius: 0.5em;
    font-weight: bold;
    margin: 3px;
    width: fit-content;
    color: black;
}
.sended-msg{
background: blue;
margin-left: auto;
color:#ffffff;
}   
#skip{
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    background-color: red;
    font-size: 15px;
    padding: 2px 7px;
}
