{% extends "try.html" %}
{%block  content%}
<script>
    
    var username='{{username}}';
    var room=`{{room}}`
    document.addEventListener('DOMContentLoaded',()=>{
    var socket = io.connect('http://127.0.0.1:5000/');
    var players={{players|tojson}};

    function create(){
    for (var key in players){
        $("#players").append(`<input type='button' class='players' id=${players[key]} value=${players[key]}>`)
    }}
    function del(div) {
        $("#"+div).html("");
    }
    
function voter(){
        create();
        for (let i = 0; i < $(".players").length; i++) {
        const e =  $(".players")[i];
        $(e).click(function(){
        socket.emit("vote",{"username":username,"vote":$(e).val(),"room":room})
        del("players")
    });   
    }
}
function play(role){
        create();
        for (let i = 0; i < $(".players").length; i++) {
        const e =  $(".players")[i];
        $(e).click(function(){
            if(role=="godfather"){
                role="mafia";
            }
        socket.emit(role,{"username":username,"target":$(e).val(),"room":room})
        del("players")});
    }
}
    
    
    socket.on(room+"reload",function(){
        location.reload();
    })
    socket.on(room+"start",function(msg){
        del("general");
        $("#general").append(`<div class="vote">${msg}</div>`)
        setTimeout(function(){
            del("general");
        }, 3000);
    })
    socket.on(room+"general",function(msg){
        del("general");
        $("#general").append(`<div class="vote">${msg}</div>`)
    })
    socket.on(room+"sala",function(){
        arra=["general","game","chrono","players"]
        for (let i = 0; i < arra.length; i++) {
            const div = arra[i];
            setTimeout(function(){
                $("#"+div).html("")
                location.reload()
            }, 5000);
        }
        
    })
    socket.on(room+"delplayers",function(){
        del("players");
    })
    socket.on(room+"role"+username,function(get_role){
        document.getElementById("role").innerHTML=get_role;

        socket.on(room+get_role+username,function(msg){
        del("game");
        play(get_role);
        })
        socket.on(room+get_role,function(doc){
        $("#game").append(`<div class="vote">${doc}</div>`)
    })

    })
    socket.on(room+"players",function(msg){
        players=msg;
    })
    socket.on(room+"chrono",function(msg){
        document.getElementById("chrono").innerHTML="<h1>"+msg+"</h1>";
    })
    
    socket.on(room+"vote"+username,function(){
        del("game")
        voter();
        setTimeout(function(){
            del("players")
        }, 20000);
    })
    
    
    socket.on(room+username,function(vote){
        $("#game").append(`<div class="vote">${vote}</div>`)
    })
    socket.on(room+"msg",function(msg){
        if(msg['username']){
        $("#messages").append(`<div class='c_msg'><span class='username'>@${msg['username']}:</span><span class="text">${msg['msg']}</span><br><span  class="time">${msg['time']}</span>`)
        }
        })
    document.getElementById("send").onclick=() =>{
        var msg={"username":username,"msg":$("#msg").val(),"room":room};
        socket.emit("message",msg);
    }
    })
</script>
<style>
    .c_msg{
        background-color: aqua;
    }
</style>
<h1 id="role">room:{{room}}</h1>
<h1>name:{{username}} role:<span id="role">{{role}}</span></h1>
<section  id="section">
    <div id="game"></div>
    <div id="general"></div>
    <div id="players"></div>
    <div id="chrono"></div>
</section>
<aside  id="chat" style="float:right ;">
    <div id="messages">

    </div>
        <input type="text" name="msg" id="msg">
        <input type="button" value="send"  id="send">
</aside>

{%endblock%}